# Hugo
public/
resources/
.hugo_build.lock

# Node
node_modules/
yarn.lock

# Tailwind
static/css/style.css

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Project specific
Portfolio Videos/



