<section class="py-8 bg-black">
    <div class="container mx-auto px-6" style="margin-top: -5rem; margin-bottom: -5rem; position: relative; z-index: 12;">
        <div class="max-w-5xl mx-auto">
            {{ partial "case-study-card.html" (dict 
                "company" "Jagdamba Pearls" 
                "logo" "jpearls-logo.png"
                "challenge" "High CPL, low ROAS" 
                "solution" "Personalized video ads by platform" 
                "result" "+46% ROAS"
                "link_text" "Read Case Study"
                "result_description" "Scaled spend 4.5× without performance decay "

            ) }}
        </div>
    </div>
</section>
